body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1, h2,  h4 {
    text-align: center;
}

h3{
    text-align: left;
}

.current-date {
    text-align: center;
    font-size: 25px; 
    font-family: arial; 
    color: #333;
    margin-bottom: 20px;
}

.calendar-view {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0px;
    margin-bottom: 20px;
}

.day {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    cursor: pointer;
}

.current-day {
    border: 2px solid red; 
}

.button{
    text-align: center;
}

.box-display {
    margin-top: 5px;
    text-align: center;
}

.box-display span {
    font-size: 12px;
}

.empty {
    color: #ccc; 
}

.filled {
    color: #3498db; 
}

.input-page {
    display: none;
    text-align: center;
}

.input-section {
    margin-top: 0px; 
    margin-bottom: 0px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.input-section h3 {
    margin: 10px; /* 左右のマージンをリセット */
    margin-right: 10px; 
    white-space: nowrap; 
    color: black; 
}

.box-container {
    display: flex; 
    justify-content: center; 
    gap: 5px; 
    margin-top: 0px; 
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.box {
    width: 20px; 
    height: 30px; 
    background-color: #ccc; 
    border: 1px solid #999; 
    cursor: pointer; 
}

.box.selected {
    background-color: #3498db; 
}

#water-boxes {
    border: 1px solid #999;
    border-top: none; 
}

#water-boxes .box.selected {
    background:linear-gradient(transparent 30%, #b3e5fc 30%);
}

#staple-boxes .box.selected {
    background-color: #fff9c4;
}

#side2-boxes .box.selected {
    background-color: #dcedc8;
}

#main-boxes .box.selected {
    background-color: #ffe0b2;
}

#dairy-boxes .box.selected {
    background-color: #e1bee7;
}

#fruit-boxes .box.selected {
    background-color: #bbdefb;
}

.calendar-view .water .filled {
    color: #b3e5fc;
}

.calendar-view .staple .filled {
    color: #fff9c4;
}

.calendar-view .side2 .filled {
    color: #dcedc8;
}

.calendar-view .main .filled {
    color: #ffe0b2;
}

.calendar-view .dairy .filled {
    color: #e1bee7;
}

.calendar-view .fruit .filled {
    color: #bbdefb; 
}

#dairy-fruit-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.box-item {
    display: flex;
    justify-content: center;
    gap: 0px;
}

.box-display-item {
    display: flex;
    justify-content: center;
    gap: 0px;
}

.sunday {
    color: red;
}

.saturday {
    color: blue;
}
